@model QuanLyNhanVien.Models.NhanVien

@{
    ViewData["Title"] = "Thông tin chi tiết";
}

<h1>Thông tin chi tiết</h1>

<div>
    <h4>Nhân viên: @Html.DisplayFor(model => model.Ten) </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.Ten)*@
           Tên: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.DiaChi)*@
            Địa chỉ: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SoDienThoai)*@
            Số điện thoại: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Sửa thông tin</a> |
    <a asp-action="Index">Trở lại danh sách</a>
</div>
