@model IEnumerable<QuanLyNhanVien.Models.NhanVien>

@{
    ViewData["Title"] = "Quản lý nhân viên";
}

<h1>Danh sách nhân viên</h1>

<p>
    <a asp-action="Create">Thêm thành viên</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Ten)*@Tên
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DiaChi)*@Địa chỉ
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SoDienThoai)*@Số điện thoại
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Chi Tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
